# Python
*.py[cod]
*$py.class
__pycache__/
*.so
.Python
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
*.sqlite3
*.sqlite3-journal
/staticfiles/
/media/

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# Linting/Formatting
.flake8_cache/

# Environment
.pipenv
poetry.lock

# Env
.env
.env.local
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
